body {
   background-image: url(/images/congruent_outline.png);
   color: white;
   text-shadow: 2px 2px 2px #000;
   font-family: Merriweather, Times, "Times New Roman", serif;
}
section h2, section li {
   color: white;
}
h1, h2, h3, h4, h5, h6 {
   font-family: Abel, Helvetica, Arial, sans-serif;
}
h2 {
   margin-top: 30px;
   margin-bottom: 20px;
}
h3 {
   margin-bottom: 30px;
}
.logo {
   float: left;
}
.navbar-nav {
   margin: 30px 0 0;
}
.navbar-inverse .navbar-nav>li>a {
   font-family: Abel, Helvetica, Arial, sans-serif;
   font-size: 18px;
   color: #aaa;
}
.navbar-inverse .navbar-nav>li>a:hover {
   color: #fff;
}
.navbar-inverse {
   background-color: rgba(0,0,0,.4);
}
#discography, #band-members, #email-newsletter, #website-credits {
   background-color: rgba(0,0,0,.4);
   padding: 10px 20px;
   border-color: #101010;
}
section li {
   font-family: Merriweather, Times, "Times New Roman", serif;
   font-size: 12.6px;
}
section li .track-length {
   float: right;
   margin-right: 10px;
}
section ol {
   padding-left: 30px;
}

section img {
   border: 1px solid black;
   -webkit-box-shadow: 5px 5px 5px black;
   -moz-box-shadow: 5px 5px 5px black;
   box-shadow: 5px 5px 5px black;
}
input, textarea {
   -webkit-box-shadow: 5px 5px 5px black !important;
   -moz-box-shadow: 5px 5px 5px black !important;
   box-shadow: 5px 5px 5px black !important;
}

.band-members {
   float: left;
   margin-right: 20px;
   margin-bottom: 20px;
}

.built-by {
   float: left;
}
.copyright {
   float: right;
}
footer {
   text-align: center;
   background-color: rgba(0,0,0,.4);
   padding: 10px 20px;
   border-color: #101010;
}

.btn-default {
   font-family: Abel, Helvetica, Arial, sans-serif;
   font-size: 24px;
   color: #fff;
   box-shadow: 5px 5px 5px black !important;
   background-color: rgba(35,82,124,.4);
   padding: 10px 20px;
   border-color: #101010;
   margin-top: 20px;
   margin-bottom: 20px;
}
.btn-default:hover, .btn-default:active {
   color: #fff;
   box-shadow: 5px 5px 5px black !important;
   background-color: rgba(0,0,0,.4);
   padding: 10px 20px;
   border-color: #101010;
}

.email-pref {
   list-style: none;
}

ol li:nth-child(odd) {
   background: rgba(0,0,0,.2);
}

ol li {
   padding: .3em 0 .3em .4em;
}

/* Text meant only for screen readers */
.screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   height: 1px;
   overflow: hidden;
   position: absolute !important;
   width: 1px;
}

.menu-social a:before {
   display: inline-block;
   padding: 0 5px;
   vertical-align: top;
   font-family: 'Fontawesome';
   font-size: 20px;
   color: #fff;
   -webkit-font-smoothing: antialiased;
   content: '\f0c0';
}

.menu-social a[href*="facebook.com"]::before {
   content: '\f09a';
}

.menu-social a[href*="twitter.com"]::before {
   content: '\f099';
}

.menu-social a[href*="dribbble.com"]::before {
   content: '\f17d';
}

.menu-social a[href*="plus.google.com"]::before {
   content: '\f0d5';
}

.menu-social a[href*="pinterest.com"]::before {
   content: '\f0d2';
}

.menu-social a[href*="github.com"]::before {
   content: '\f09b';
}

.menu-social a[href*="tumblr.com"]::before {
   content: '\f173';
}

.menu-social a[href*="youtube.com"]::before {
   content: '\f167';
}

.menu-social li a[href*="flickr.com"]::before {
   content: '\f16e';
}

.menu-social li a[href*="vimeo.com"]::before {
   content: '\f194';
}

.menu-social li a[href*="instagram.com"]::before {
   content: '\f16d';
}

.menu-social li a[href*="linkedin.com"]::before {
   content: '\f0e1';
}